

.panel-calculator button.number{
    font-size: 30px;
    width: 77px;
    height: 56px;
    padding: 10px 30px;
    border-radius: 10px;
    background: white;
    margin: 5px ;
    box-shadow: 4px 0 4px 0 rgb(41, 21, 3, 0.54) inset;
}


